*{
    box-sizing: border-box;
}
header, main, footer{
    width: 1200px;
    margin: 0 auto;
    
}
.navigation{
    display: flex;
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gold;
}
.navigation a{
    margin-top: 15px;
    color: black;
}

.body-container{
    max-width: 1200px;
    margin: 0 auto;
}

.main-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-body img{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    
}
    
.main-body p{
    font-size: 40px;
    margin-top: 6em;
    margin-left: 20px;
}
span{
    color: rgb(90, 163, 12);
}
.footer-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin:  0 auto;
    margin-top: 15em;
    justify-items: center;
    border-top: 1px solid grey;
    background-color: rgb(138, 138, 138);
    font-size: 20px;
    text-align: center;
    
}
.footer-body > a:first-of-type{
    color: rgb(238, 35, 8);
    text-decoration: underline;
    margin-top: 1em;
}
.footer-body > a:last-of-type{
    color: rgb(238, 35, 8);
    text-decoration: underline;
    margin-top: 1em;
}




ul> li:last-of-type {

    margin-top: 10em;
    font-size: 20px;
}
ul> li:first-of-type {

    margin-top: 5em;
    font-size: 20px;

}


a:hover{
    color:rgb(148, 142, 111);
}