*{
    box-sizing: border-box;
}
header, main, footer{
    width: 1200px;
    margin: 0 auto;
    
}
.navigation{
    display: flex;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: gold;
}
.navigation a{
    margin-top: 15px;
    font-size: 17px;
    color: black;
    margin-top: 1.5em;
}

.body-container{
    max-width: 1200px;
    margin: 0 auto;
}

.main-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-body img{
    box-shadow: 0 0 40px grey;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    
}
    
.main-body > p{
    grid-column: 2 / 3;
    grid-row: 1/2;
    font-size: 40px;
    margin-top: 1em;
    margin-left: 20px;
}
.main-body > p:last-of-type{
    font-size: 40px;
    margin-top: 9em;
    margin-left: 20px;
}

/* PROJECT PAGE STYLES */
.rafting{
    padding-top: 1.5em;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.rafting > img{
    grid-row: 1/2;
    box-shadow: 0 0 40px grey;
}

.rafting > li{
    grid-row: 2/3;
}

.poultry{
    border-top: 1px solid black;
    padding-top: 2em;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.poultry> img{
    grid-row: 1/2;
    box-shadow: 0 0 40px grey;
}

.poultry > li{
    grid-row: 2/3;
}


.rafting > li, .poultry > li {

    margin-top: 2em;
    font-size: 20px;
   

}

ul > li {

    margin-top: 2em;
    font-size: 18px;
   
} 



a:hover{
    color:rgb(148, 142, 111);
}


span{
    color: rgb(90, 163, 12);
}
.footer-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    margin:  0 auto;
    margin-top: 5em;
    justify-items: center;
    border-top: 1px solid grey;
    background-color: rgb(138, 138, 138);
    font-size: 20px;
    text-align: center;
    
}
.footer-body > a:first-of-type{
    color: rgb(146, 36, 21);
    text-decoration: underline;
    margin-top: 1em;
}
.footer-body > a:last-of-type{
    color: rgb(146, 36, 21);
    text-decoration: underline;
    margin-top: 1em;
}
.footer-body > a:hover{
    color: rgb(235, 214, 109);
}






